# Maven build output
target/
.mvn/

# IntelliJ IDEA (Ignores all config XMLs)
.idea/
*.iws
*.iml
*.ipr
out/

# Compiled Java output
*.class
*.jar

# Eclipse / NetBeans / VS Code
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db